.bios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}

.positionText {
  color: #007bff;
  font-family: noto sans;
  font-weight: bold;
}

.advisorText {
  font-family: noto sans;
}

.card-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: left;
  width: 66%;

}

.card {
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  /* border: transparent; */
}

.headshot-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Preloaded CSS Above */

.avatar {
  border: radius 50px;
}

.data {
  border: 2px solid red;
  width: 60%;
  margin: auto;
}

.advisor{
  border: 2px solid red;
  width: 60%;
 
}